pandas
numpy
scikit-learn
lightgbm
regex
langdetect
ftfy
tldextract
sentence-transformers
transformers
fastapi
uvicorn
pydantic
streamlit
plotly
joblib
openai
python-dotenv #https://pypi.org/project/python-dotenv/